vendor/
node_modules/
.env
.env.local
.env.staging
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
*.sql.bak
*.log
.git/
.github/
tests/
docker/nginx/
docker/postgres/
public/hot
public/storage
.phpunit.result.cache
bootstrap/cache/
