# Ignore local development dependencies
**/node_modules/
**/vendor/

# Ignore local environment files and logs
app/.env
app/.env.*
app/storage/logs/
app/storage/framework/cache/
app/storage/framework/sessions/
app/storage/framework/views/
app/public/hot
app/public/storage
app/bootstrap/cache/

# Ignore database dumps and temporary logs
*.sql
!ummisco_database.sql
*.log

# Ignore IDE and Git directories
.git/
.github/
.idea/
.vscode/
.DS_Store
Thumbs.db
